body {
    background-image: url(tyler-face.png);
    background-size: 20%;
    background-color: #222222;
}

button {
    background-color: salmon;
}

#preset >* {
    background-color: yellow;
}

#options >* {
    background-color: aqua;
}

#total-list >* {
    color: rgb(28, 173, 28);
}

h1 {
    color: crimson;
    font-family: monospace;
    font-size: 50px;
}

h2 {
    color: silver;
}