body {
    /*background-size: 10%;
    background-position: 50%;
    background-image: url(firestorm-image.png);
    background-repeat: repeat;*/
    background-color: #222222;
}

button {
    background-color: salmon;
}

#preset >* {
    background-color: yellow;
}

#options >* {
    background-color: aqua;
}

#total-list >* {
    color: rgb(28, 173, 28);
}

h1 {
    color: crimson;
    font-family: monospace;
    font-size: 50px;
}

h2 {
    color: silver;
}